.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    text-align: center;
    margin-bottom: 1.5em;
  }
  .login_form {
    padding: 2em;
    border-radius: 1em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 50%;
    min-width: 300px;
  }
  .forgot_btn {
    cursor: pointer;
  }
}