@import '../../styles/variables';

.btn {
  outline: none;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: $transition;
  border: 1px solid transparent;
  &.contained {
    background: $blue;
    color: white;
    &:hover {
      background: $light-blue;
    }
  }
  &.outlined {
    &:hover {
      background-color: rgba(25, 118, 210, 0.04);
      border: 1px solid #1976d2;
    }
  }
}