/* custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

a {
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
  transition: $transition;
}
.dashed {
  color: $blue;
  border-bottom: 1px dashed $light-blue;
}

img {
  width: 1.5rem;
  height: 1.5rem;
}

// #app-root {
//   height: 100vh;
// }

.App {
  display: grid;
  height: 100vh;
  max-height: 100vh;
  grid-template-areas:
    'header header'
    'nav main';
  grid-template-columns: $nav-width calc(100% - $nav-width);
  grid-template-rows: $header-height calc(100% - $header-height);
  @media (max-width: $screen-medium) {
    grid-template-areas:
      'header'
      'main'
      'nav';
    grid-template-columns: 100%;
    grid-template-rows: $header-height calc(100% - $header-height - $header-height);
  }
}
.header {
  grid-area: header;
}
.nav {
  grid-area: nav;
}
.main {
  grid-area: main;
}
// footer {
//   grid-area: footer;
// }

.app-section {
  height: 100%;
  padding: 2rem;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 2px solid $cyan;
}
label:hover {
  cursor: pointer;
}
select {
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#notifications-root {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
  min-width: 20rem;
  opacity: 0;
}