/*
  Sizes:
*/
$header-height: 5rem;
$nav-width: 14rem;

/*
  Colors:
*/
$blue: #4169ef;
$light-blue: #416aefb4;
$black: #0b0d14;
$white: #ffffff;
$light-purple: rgb(232 233 255);

/*
  Effects:
*/
$transition: .1s all ease-in-out;