/*
  Sizes:
*/
$header-height: 5rem;
$nav-width: 14rem;
$screen-large: 1024px;
$screen-medium: 768px;
$screen-small: 575px;

/*
  Colors:
*/
$blue: #4169ef;
$light-blue: #416aefb4;
$cyan: #a8d4ff;
$black: #0b0d14;
$white: #ffffff;
$light-purple: rgb(232 233 255);

/*
  Effects:
*/
$transition: .1s all ease-in-out;