.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .registration_form {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0 0.5rem 1.5rem;
    width: 500px;
  }
}