.settings {
  position: relative;
  .title {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  .edit {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.5rem 1rem;
  }
  .info {
    .list {
      .item:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}