@import '../../styles/variables';

.header {
  grid-area: header;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  .buttons {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    margin-left: auto;
    .button {
      padding: 0.25rem 0.5rem;
      margin: 0 0.25rem;
      border: 1px solid white;
    }
  }
}